ul.menu-list
  li.menu-list__item(data-role="showChangeAva") Змінити аватарку
  li.menu-list__item(data-role="showChangeName") Змінити ім'я
  li.menu-list__item(data-role="showChangePass") Змінити пароль
  li.menu-list__item(data-role="showChangeThema") Кольорова тема
  li.menu-list__item(data-role="showChangeLang") Мова
  li.menu-list__item(data-role="showDeleteAcc") Видалити акаунт
