.logo {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 1px 1px 6px $bl;
  position: relative;
  margin-right: 10px;
  &__name {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $sg;
    font: 1.3em bold;
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
  }
  &__status {
    height: 10px;
    width: 10px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;
    &_online {
      background-color: $sg;
    }
    &_offline {
      background-color: $re;
    }
  }
}