header.header
  button(type="button" data-target-group="aside" data-target="menu").header__menu-btn.header__menu-btn_primary
    i.ico(style='font-size: 30px') &#x61;
  .header__info
    .logo
      p.logo__name UN
      img.logo__img(src="img/users/" + id + ".jpg")
    .header__text-wrapper
      h1.header__header #{username}
      h4.header__subheader @#{id}
  input(type="text").header__search
  button(type="button").header__menu-btn.header__menu-btn_secondary
    i.ico(style='font-size: 25px') &#x55;