doctype html
html(lang='en').wjs-MobileHeightFix
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='css/index.css')
    link(rel='icon', href='img/logo.png')
    title Document
  body
    .body-inner
      ul#pages-list(style="padding: 20px")
        li: p here are links to application pages:
        li
          a(href="html/login.html") login.html
        li
          a(href="html/register.html") register.html
        li
          a(href="html/app.html") app.html

    style.
      li {
        padding: 10px 0;
      }