ul.chat-list.chat-list_mono
  //- .chat-list_group
  //- .chat-list_mono

  li.chat-list__item.chat-list__item_date 12.12.2021, Ğ¿Ñ‚

  li.chat-list__item.chat-list__item_sent
    .logo
      p.logo__name
      img.logo__img(src="../path/to/image")
    .chat-list__message
      .chat-list__message-text lorem ipsum
      .chat-list__message-date 12.34
      .chat-list__message-status.chat-list__message-status_read
        i &#x4e;
        i &#x4e;

  li.chat-list__item.chat-list__item_received
    .logo
      p.logo__name
      img.logo__img(src="../path/to/image")
    .chat-list__message
      .chat-list__message-text lorem ipsum
      .chat-list__message-date 23.45