ul.menu-list
  li.menu-list__item Змінити аватарку
  li.menu-list__item Змінити ім'я
  li.menu-list__item Змінити пароль
  li.menu-list__item Кольорова тема
  li.menu-list__item Мова
  li.menu-list__item Видалити акаунт
