doctype html
html(lang='en').wjs-MobileHeightFix
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='../css/main.css')
    //- link(rel='stylesheet' type='text/css' href='../css/contactslist.css')
    script(defer src='../libs-js/wScroll.js')
    title ContactsList
  body
    .body-inner

      header.header
        button(type="button").header__menu-btn.header__menu-btn_primary
          i(style="font-size: 35px") &#x61;
        .header__info
          .logo
            p.logo__name UN
            img.logo__img(src="../img/user_logo.png")
          .header__text-wrapper
            h1.header__header User Name
            h4.header__subheader @dfvnkjriu4u
        button(type="button").header__menu-btn.header__menu-btn_secondary
          i(style="font-size: 25px") &#x4a;
          //- i &#x55;
          //- i &#x35;
      main.main.wjs-scroll(data-scroll='right' data-scroll-hidden='horizontal')
        .wjs-scroll__content-wrapper
          .wjs-scroll__content

            ul.contact-list

              li.contact-item
                .logo
                  p.logo__name JW
                  img.logo__img(src="../img/users/user1.jpg")
                  .logo__status.logo__status_offline
                .contact-item__name Jean Waverly

              li.contact-item
                .logo
                  p.logo__name RT
                  img.logo__img(src="../img/users/user2.jpg")
                  .logo__status.logo__status_online
                .contact-item__name Remedios Thornberg

              li.contact-item
                .logo
                  p.logo__name SZ
                  img.logo__img(src="../img/users/user3.jpg")
                  .logo__status.logo__status_online
                .contact-item__name Shenita Zema

              li.contact-item
                .logo
                  p.logo__name GK
                  img.logo__img(src="../img/users/user4.jpg")
                  .logo__status.logo__status_online
                .contact-item__name Gretta Krejcik

              li.contact-item
                .logo
                  p.logo__name SM
                  img.logo__img(src="../img/users/user5.jpg")
                  .logo__status.logo__status_online
                .contact-item__name Sharron Mellish

              li.contact-item
                .logo
                  p.logo__name OO
                  img.logo__img(src="../img/users/user6.jpg")
                  .logo__status.logo__status_online
                .contact-item__name Ollie Orellama

              li.contact-item
                .logo
                  p.logo__name AG
                  img.logo__img(src="../img/users/user7.jpg")
                  .logo__status.logo__status_offline
                .contact-item__name Arron Gwillim

              li.contact-item
                .logo
                  p.logo__name AB
                  img.logo__img(src="../img/users/user8.jpg")
                  .logo__status.logo__status_offline
                .contact-item__name Jannette Kutz

              li.contact-item
                .logo
                  p.logo__name AB
                  img.logo__img(src="../img/users/user9.jpg")
                  .logo__status.logo__status_offline
                .contact-item__name Elly Tonner

              li.contact-item
                .logo
                  p.logo__name AB
                  img.logo__img(src="../img/users/user10.jpg")
                  .logo__status.logo__status_online
                .contact-item__name Marlin Potanovic

              li.contact-item
                .logo
                  p.logo__name AB
                  img.logo__img(src="../img/users/user11.jpg")
                  .logo__status.logo__status_online
                .contact-item__name Jeannie Fay

              li.contact-item
                .logo
                  p.logo__name AB
                  img.logo__img(src="../img/users/user12.jpg")
                  .logo__status.logo__status_offline
                .contact-item__name Allen Knotek

              li.contact-item
                .logo
                  p.logo__name AB
                  img.logo__img(src="../img/users/user13.jpg")
                  .logo__status.logo__status_online
                .contact-item__name Lia Kusterer

              li.contact-item
                .logo
                  p.logo__name AB
                  img.logo__img(src="../img/users/user14.jpg")
                  .logo__status.logo__status_online
                .contact-item__name Jennie Duryee

              li.contact-item
                .logo
                  p.logo__name AB
                  img.logo__img(src="../img/users/user15.jpg")
                  .logo__status.logo__status_offline
                .contact-item__name Leanna Baugher

              li.contact-item
                .logo
                  p.logo__name AB
                  img.logo__img(src="../img/users/user16.jpg")
                  .logo__status.logo__status_online
                .contact-item__name Jose Casanova

              li.contact-item
                .logo
                  p.logo__name AB
                  img.logo__img(src="../img/users/user17.jpg")
                  .logo__status.logo__status_online
                .contact-item__name Vonda Winterfeldt

              li.contact-item
                .logo
                  p.logo__name AB
                  img.logo__img(src="../img/users/user18.jpg")
                  .logo__status.logo__status_online
                .contact-item__name Albertha Tibor

              li.contact-item
                .logo
                  p.logo__name AB
                  img.logo__img(src="../img/users/user19.jpg")
                  .logo__status.logo__status_offline
                .contact-item__name Pedro Zammetti

              li.contact-item
                .logo
                  p.logo__name AB
                  img.logo__img(src="../img/users/user20.jpg")
                  .logo__status.logo__status_offline
                .contact-item__name Clementina Maggert

              li.contact-item
                .logo
                  p.logo__name CC
                  img.logo__img(src="../img/users/user21.jpg")
                  .logo__status.logo__status_offline
                .contact-item__name Casey Colleen

              li.contact-item
                .logo
                  p.logo__name TS
                  img.logo__img(src="../img/users/user22.jpg")
                  .logo__status.logo__status_offline
                .contact-item__name Temple Siglin

              li.contact-item
                .logo
                  p.logo__name JS
                  img.logo__img(src="../img/users/user23.jpg")
                  .logo__status.logo__status_online
                .contact-item__name Johana Stiegler

              li.contact-item
                .logo
                  p.logo__name AS
                  img.logo__img(src="../img/users/user24.jpg")
                  .logo__status.logo__status_offline
                .contact-item__name Alana Solwold

              li.contact-item
                .logo
                  p.logo__name FS
                  img.logo__img(src="../img/users/user25.jpg")
                  .logo__status.logo__status_offline
                .contact-item__name Fabian Sanft

              li.contact-item
                .logo
                  p.logo__name CB
                  .logo__status.logo__status_online
                .contact-item__name Clara Bramhall

              li.contact-item
                .logo
                  p.logo__name CM
                  .logo__status.logo__status_online
                .contact-item__name Catalina Meeter

              li.contact-item
                .logo
                  p.logo__name KW
                  .logo__status.logo__status_online
                .contact-item__name Kristina Warmoth

              li.contact-item
                .logo
                  p.logo__name JS
                  .logo__status.logo__status_offline
                .contact-item__name Jeanna Strand

              li.contact-item
                .logo
                  p.logo__name HM
                  .logo__status.logo__status_online
                .contact-item__name Harriett Moneypenny

              li.contact-item
                .logo
                  p.logo__name AG
                  .logo__status.logo__status_online
                .contact-item__name Antoine Grygiel

              li.contact-item
                .logo
                  p.logo__name TB
                  .logo__status.logo__status_offline
                .contact-item__name Tabetha Benion

              li.contact-item
                .logo
                  p.logo__name AH
                  .logo__status.logo__status_offline
                .contact-item__name Armando Hakimi

              li.contact-item
                .logo
                  p.logo__name MR
                  .logo__status.logo__status_online
                .contact-item__name Myrtle Remaley

              li.contact-item
                .logo
                  p.logo__name MA
                  .logo__status.logo__status_online
                .contact-item__name Maxima Angeline

              li.contact-item
                .logo
                  p.logo__name MS
                  .logo__status.logo__status_online
                .contact-item__name Mindy Schnibbe

        button(type="button" style="bottom: 60px").round-btn
          i(style="") &#x55;
        button(type="button").round-btn: i &#x37;