doctype html
html(lang='en').wjs-MobileHeightFix
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='../css/main.css')
    link(rel='stylesheet' type='text/css' href='../css/menu.css')
    title Menu
  body
    .body-inner

      header.header
        button(type="button").header__menu-btn.header__menu-btn_primary
          i(style='font-size: 35px') &#x61;
        .header__info
          .logo
            p.logo__name UN
            img.logo__img(src="../img/user_logo.png")
          .header__text-wrapper
            h1.header__header User Name
            h4.header__subheader @dfvnkjriu4u
        button(type="button").header__menu-btn.header__menu-btn_secondary
          i(style='font-size: 30px') &#x4a;
          //- i &#x4a;
          //- i &#x35;
      main.main
        ul.menu-list
          li.menu-list__item Контакти
          li.menu-list__item Список чатів
          li.menu-list__item Новий груповий чат
          li.menu-list__item Налаштування
          li.menu-list__item Вийти з програми
