doctype html
html(lang='en').wjs-MobileHeightFix
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='../css/main.css')
    //- link(rel='stylesheet' type='text/css' href='../css/login.css')
    title Register
  body
    .body-inner.body-inner_notSignedPage

      header.login-header
        nav.login-header__nav
          ul
            li
              a.login-header__link(href='/login') вхід
            li
              a.login-header__link.login-header__link_active(href='/register') реєстрація
      main.login-main
        h1 My-cha-cha
        h4 вільний веб-чат
        h5 щоб почати користуватися чатом, пройдіть реєстрацію

        form(name="loginForm" method="post" action="/")
          input(name="name" type="name" placeholder="логін…")
          input(name="pass" type="password" placeholder="пароль…")
          button(type="submit") увійти

      footer.login-footer © waldteufel@ukr.net