doctype html
html(lang='en').wjs-Mob
    .body-inner

      header.header
        button(type="button").header__menu-btn.header__menu-btn_primary
          i(style='font-size: 35px') &#x61;
        .header__info
          .logo
            p.logo__name UN
            img.logo__img(src="../img/user_logo.png")
          .header__text-wrapper
            h1.header__header User Name
            h4.header__subheader @dfvnkjriu4u
        button(type="button").header__menu-btn.header__menu-btn_secondary
          i(style='font-size: 30px') &#x4a;
          //- i &#x4a;
          //- i &#x35;
      main.main
        ul.menu-list
          li.menu-list__item Змінити аватарку
          li.menu-list__item Змінити ім'я
          li.menu-list__item Змінити пароль
          li.menu-list__item Кольорова тема
          li.menu-list__item Мова
