doctype html
html(lang='en').wjs-MobileHeightFix
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='../css/chatlist.css')
    title Document
  body
    .body-inner

      header.header
        button(type="button").header__menu-btn qqq
        .header__info
        button(type="button").header__menu-btn.header__menu-btn_secondary qqq
      main.main
        div(style="font-size:20px; display: grid; grid-gap: 6px; grid-template-columns: repeat(5, 1fr)" )
          p 1
            i(style='font-family:ElegantIcons') &#x4d;
          p 2
            i(style='font-family:ElegantIcons') &#x4b;
          p 3
            i(style='font-family:ElegantIcons') &#x4c;
          p 4
            i(style='font-family:ElegantIcons') &#x4e;
          p 5
            i(style='font-family:ElegantIcons') &#x4f;
          p 6
            i(style='font-family:ElegantIcons') &#x50;
          p 7
            i(style='font-family:ElegantIcons') &#x51;
          p 8
            i(style='font-family:ElegantIcons') &#x52;
          p 9
            i(style='font-family:ElegantIcons') &#x55;
          p 10
            i(style='font-family:ElegantIcons') &#x56;
          p 11
            i(style='font-family:ElegantIcons') &#x57;
          p 12
            i(style='font-family:ElegantIcons') &#x59;
          p 13
            i(style='font-family:ElegantIcons') &#x5a;
          p 14
            i(style='font-family:ElegantIcons') &#x5b;
          p 15
            i(style='font-family:ElegantIcons') &#x5c;
          p 16
            i(style='font-family:ElegantIcons') &#x61;
          p 17
            i(style='font-family:ElegantIcons') &#x70;
          p 18
            i(style='font-family:ElegantIcons') &#x73;
          p 19
            i(style='font-family:ElegantIcons') &#x74;
          p 20
            i(style='font-family:ElegantIcons') &#x76;
          p 21
            i(style='font-family:ElegantIcons') &#x77;
          p 22
            i(style='font-family:ElegantIcons') &#x7e;
          p 23
            i(style='font-family:ElegantIcons') &#xe000;
          p 24
            i(style='font-family:ElegantIcons') &#xe001;
          p 25
            i(style='font-family:ElegantIcons') &#xe007;
          p 26
            i(style='font-family:ElegantIcons') &#xe019;
          p 27
            i(style='font-family:ElegantIcons') &#xe01b;
          p 28
            i(style='font-family:ElegantIcons') &#xe02a;
          p 29
            i(style='font-family:ElegantIcons') &#xe030;
          p 30
            i(style='font-family:ElegantIcons') &#xe0f6;
          p 31
            i(style='font-family:ElegantIcons') &#xe0e1;
          p 32
            i(style='font-family:ElegantIcons') &#xe031;
          p 33
            i(style='font-family:ElegantIcons') &#xe033;
          p 34
            i(style='font-family:ElegantIcons') &#xe035;
          p 35
            i(style='font-family:ElegantIcons') &#xe037;
          p 36
            i(style='font-family:ElegantIcons') &#xe038;
          p 37
            i(style='font-family:ElegantIcons') &#xe036;
          p 38
            i(style='font-family:ElegantIcons') &#xe0d9;
          p 39
            i(style='font-family:ElegantIcons') &#x4a;
          p 40
            i(style='font-family:ElegantIcons') &#x35;
          p 41
            i(style='font-family:ElegantIcons') &#xe02d;































































