doctype html
html(lang='en').wjs-MobileHeightFix
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='../css/temp-font.css')
    title Document
  body

    .body-inner
      p(style='font: 20px deco') deco: lorem Ipsum Dolor Sit Amet - Добрії вісті не лежать на місці. єЄіІїЇ₴
      br
      p(style='font: 20px bold') bold: lorem Ipsum Dolor Sit Amet - Добрії вісті не лежать на місці. єЄіІїЇ₴
      p(style='font: 20px reg') reg: Ipsum Dolor Sit Amet - Добрії вісті не лежать на місці. єЄіІїЇ₴
      p(style='font: 20px light') light: lorem Ipsum Dolor Sit Amet - Добрії вісті не лежать на місці. єЄіІїЇ₴
