.chat-list {
  &__item {
    margin                           : 5px 0;
    font                             : 1em light;
    padding                          : 0 10px;
    display                          : flex;
    align-items                      : flex-end;
    justify-content                  : center;
    @media (min-width: $bpl) {
      padding                        : 0px;
    }
    &_date {
      text-align                     : center;
      font                           : 1em reg;
      padding-top                    : 10px;
      color                          : rgba(0,0,0,.8);
    }
    &_sent {
      justify-content                : flex-end;
      .chat-list__message {
        max-width                    : 70%;
        background-color             : dodgerblue;
        border-bottom-right-radius   : 0 0;
      }
      .chat-list__message-file-icon::before {
        border-top: 6px solid dodgerblue;
        border-right: 6px solid dodgerblue;
      }
    }
    &_received {
      justify-content                : flex-start;
      .chat-list__message {
        max-width                    : 80%;
        background-color             : lightskyblue;
        border-bottom-left-radius    : 0 0;
      }
      .logo {
        cursor                       : pointer;
      }
      .chat-list__message-file-icon::before {
        border-top: 6px solid lightskyblue;
        border-right: 6px solid lightskyblue;
      }
    }
  }
  &__message {
    padding                          : 2px 6px;
    border                           : 1px solid transparent;
    border-radius                    : 10px;
    position                         : relative;
    min-width                        : 60px;
  }
  &__message-text {}
  &__message-file{
    display: flex;
    align-items: center;
    padding: 6px;
    cursor: pointer;
  }
  &__message-file-icon {
    border: 1px solid black;
    width: 45px;
    height: 55px;
    position: relative;
    border-radius: 4px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -1px;
      right: -1px;
      // border-top: 6px solid red;
      // border-right: 6px solid red;
      border-bottom: 6px solid transparent;
      border-left: 6px solid transparent;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -1px;
      right: -1px;
      border-top: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid black;
      border-left: 6px solid black;
    }
  }
  &__message-file-extention {
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 5px;
    background-color: black;
    font-size: .8em;
    font-weight: 900;
    width: 100%;
    padding: 3px;
    color: lightgrey;
  }
  &__message-file-name {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__message-file-download {
    font-size: 1.1em;
    align-self: end;
    color: black;
    border-radius: 4px;
  }
  &__message-date {
    font                             : .7em reg;
  }

  &_mono {
    .chat-list__item {
      &_sent {
        @media (min-width              : $bpm) {
          justify-content              : flex-start;
        }
        .chat-list__message {
          @media (min-width: $bpm) {
            border-bottom-right-radius : 10px 10px;
            border-bottom-left-radius  : 0 0;
          }
        }
      }
      .logo {
        display                        : none;
        @media (min-width: $bpm) {
          display                      : block;
        }
      }
    }
  }

  &_group {
    .chat-list__item {
      &_sent {
        justify-content              : flex-start;
        .chat-list__message {
          border-bottom-right-radius : 10px 10px;
          border-bottom-left-radius  : 0 0;
        }
      }
      .logo {
        display                      : block;
      }
    }
  }
  .message-status {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}