$bpm : 900px;
$bpl : 1200px;

$wt : white;
$bl : black;
$gr : grey;
$na : navy;
$sb : steelblue;
$db : dodgerblue;
$lb : lightskyblue;
$cb : cadetBlue;
$c44 : #003344;
$c64 : #006264;
$c79 : #008079;
$c5f : #5f9ea0;
$d0 : #40E0D0;
$am : aquamarine;
$sg : springgreen;
$re : red;
$bt8 : rgba(0,0,0,.8);
$bt2 : rgba(0,0,0,.2);
$wt2: rgba(255,255,255,.2);
$bt : rgba(135, 206, 250,.5);