.login-header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid $sb;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media (min-width: $bpl) {
    padding: 0px;
  }
  &__nav {
    height: 100%;
    ul {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      li {
        display: flex;
      }
    }
  }
  &__link {
    margin: auto;
    margin-left: 10px;
    color: $d0;
    font: 16px reg;
    text-decoration: underline;
    cursor: default;
    &:hover {
      color: $d0;
      text-decoration: underline;
    }
    &_active {
      color: $c64;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: $c64;
        text-decoration: none;
      }
    }
  }
}

.lang-switcher {
  width: 75px;
  position: relative;
  z-index: 1;
  display: flex;
  margin-left: 10px;
  padding: 5px;
  color: $d0;
  font: 14px reg;
  cursor: pointer;
  border: 1px solid transparent;
  &_active {
    border: 1px solid black;
    background-color: rgba(0,0,0,.5);
    .lang-switcher__list {
      display: block;
    }
  }
  i {
    margin-left: 10px;
    padding-top: 2px;
  }
  &__img-wrapper {
    width: 30px;
    height: 20px;
    position: relative;
    overflow: hidden;
  }
  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 45px;
    height: 30px;
  }
  &__list {
    position: absolute;
    top: 100%;
    left: -1px;
    border: 1px solid black;
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
    display: none;
  }
  &__list-item {
    width: 73px;
    display: flex;
    align-items: center;
    transition: background-color .3s;
    padding: 5px;
    &:not(:last-of-type){
      border-bottom: 1px dotted dodgerblue;
    }
    &:hover {
      background-color: black;
    }
  }
  &__name {
    margin-left: 10px;
  }
}

.login-main {
  flex-grow: 1;
  overflow: hidden;
  &__inner {
    height: 100%;
    width: 100%;
    padding: 30px 0;
    margin-bottom: 450px;
    overflow: hidden;
  }
  h1 {
    font: 30px deco;
    text-align: center;
    padding: 40px 0 20px;
    position: relative;
    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 100px;
      background-color: $bl;
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translate(-50%);
    }
  }
  h4 {
    font: 16px bold;
    text-align: center;
    padding: 0 0 20px;
    color: $bl;
  }
  h5 {
    font: 16px reg;
    text-align: center;
    padding: 0 0 20px;
    color: $d0;
  }
  form {
    border: 1px solid transparent;
    border-radius: 6px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: $bt2;
    box-shadow: 0px 0px 5px $d0;
    input {
      height: 40px;
      margin-bottom: 10px;
      padding: 6px;
      background-color: $wt2;
      border: 1px solid transparent;
      border-radius: 4px;
      color: $wt;
      font: 16px light;
      &::placeholder {
        color: $wt;
        opacity: 1;
        font: 16px light;
      }
    }
    button {
      height: 40px;
      margin: 0 auto;
      padding: 0 20px;
      cursor: pointer;
      background-color: $am;
      border: 1px solid transparent;
      border-radius: 6px;
      letter-spacing: 1px;
      color: $sb;
      font: 16px reg;
    }
  }
}

.login-footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid $sb;
  text-align: center;
  padding-top: 18px;
  font: 16px bold;
  color: $na;
  letter-spacing: 1px;
}

.error-info {
  background-color: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  border-left: 3px solid red;
  overflow: hidden;
  height: 0px;
  padding: 0 10px;
  margin-bottom: 0px;
  transition : height .3s, margin .3s, padding .3s;
  // padding: 10px;
  i.ico {
    margin-right: 10px;
    color: red;
    font-size: 1.5em;
  }
  span {
    color: $d0;
  }
}