@font-face {
  font-family: 'ElegantIcons';
  src:url('icon-font_elegant-font.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'ElegantIcons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="your-class-prefix"] {
*/
.ifont-elegant-arrow_up, .ifont-elegant-arrow_down, .ifont-elegant-arrow_left, .ifont-elegant-arrow_right, .ifont-elegant-arrow_left-up, .ifont-elegant-arrow_right-up, .ifont-elegant-arrow_right-down, .ifont-elegant-arrow_left-down, .ifont-elegant-arrow-up-down, .ifont-elegant-arrow_up-down_alt, .ifont-elegant-arrow_left-right_alt, .ifont-elegant-arrow_left-right, .ifont-elegant-arrow_expand_alt2, .ifont-elegant-arrow_expand_alt, .ifont-elegant-arrow_condense, .ifont-elegant-arrow_expand, .ifont-elegant-arrow_move, .ifont-elegant-arrow_carrot-up, .ifont-elegant-arrow_carrot-down, .ifont-elegant-arrow_carrot-left, .ifont-elegant-arrow_carrot-right, .ifont-elegant-arrow_carrot-2up, .ifont-elegant-arrow_carrot-2down, .ifont-elegant-arrow_carrot-2left, .ifont-elegant-arrow_carrot-2right, .ifont-elegant-arrow_carrot-up_alt2, .ifont-elegant-arrow_carrot-down_alt2, .ifont-elegant-arrow_carrot-left_alt2, .ifont-elegant-arrow_carrot-right_alt2, .ifont-elegant-arrow_carrot-2up_alt2, .ifont-elegant-arrow_carrot-2down_alt2, .ifont-elegant-arrow_carrot-2left_alt2, .ifont-elegant-arrow_carrot-2right_alt2, .ifont-elegant-arrow_triangle-up, .ifont-elegant-arrow_triangle-down, .ifont-elegant-arrow_triangle-left, .ifont-elegant-arrow_triangle-right, .ifont-elegant-arrow_triangle-up_alt2, .ifont-elegant-arrow_triangle-down_alt2, .ifont-elegant-arrow_triangle-left_alt2, .ifont-elegant-arrow_triangle-right_alt2, .ifont-elegant-arrow_back, .ifont-elegant-icon_minus-06, .ifont-elegant-icon_plus, .ifont-elegant-icon_close, .ifont-elegant-icon_check, .ifont-elegant-icon_minus_alt2, .ifont-elegant-icon_plus_alt2, .ifont-elegant-icon_close_alt2, .ifont-elegant-icon_check_alt2, .ifont-elegant-icon_zoom-out_alt, .ifont-elegant-icon_zoom-in_alt, .ifont-elegant-icon_search, .ifont-elegant-icon_box-empty, .ifont-elegant-icon_box-selected, .ifont-elegant-icon_minus-box, .ifont-elegant-icon_plus-box, .ifont-elegant-icon_box-checked, .ifont-elegant-icon_circle-empty, .ifont-elegant-icon_circle-slelected, .ifont-elegant-icon_stop_alt2, .ifont-elegant-icon_stop, .ifont-elegant-icon_pause_alt2, .ifont-elegant-icon_pause, .ifont-elegant-icon_menu, .ifont-elegant-icon_menu-square_alt2, .ifont-elegant-icon_menu-circle_alt2, .ifont-elegant-icon_ul, .ifont-elegant-icon_ol, .ifont-elegant-icon_adjust-horiz, .ifont-elegant-icon_adjust-vert, .ifont-elegant-icon_document_alt, .ifont-elegant-icon_documents_alt, .ifont-elegant-icon_pencil, .ifont-elegant-icon_pencil-edit_alt, .ifont-elegant-icon_pencil-edit, .ifont-elegant-icon_folder-alt, .ifont-elegant-icon_folder-open_alt, .ifont-elegant-icon_folder-add_alt, .ifont-elegant-icon_info_alt, .ifont-elegant-icon_error-oct_alt, .ifont-elegant-icon_error-circle_alt, .ifont-elegant-icon_error-triangle_alt, .ifont-elegant-icon_question_alt2, .ifont-elegant-icon_question, .ifont-elegant-icon_comment_alt, .ifont-elegant-icon_chat_alt, .ifont-elegant-icon_vol-mute_alt, .ifont-elegant-icon_volume-low_alt, .ifont-elegant-icon_volume-high_alt, .ifont-elegant-icon_quotations, .ifont-elegant-icon_quotations_alt2, .ifont-elegant-icon_clock_alt, .ifont-elegant-icon_lock_alt, .ifont-elegant-icon_lock-open_alt, .ifont-elegant-icon_key_alt, .ifont-elegant-icon_cloud_alt, .ifont-elegant-icon_cloud-upload_alt, .ifont-elegant-icon_cloud-download_alt, .ifont-elegant-icon_image, .ifont-elegant-icon_images, .ifont-elegant-icon_lightbulb_alt, .ifont-elegant-icon_gift_alt, .ifont-elegant-icon_house_alt, .ifont-elegant-icon_genius, .ifont-elegant-icon_mobile, .ifont-elegant-icon_tablet, .ifont-elegant-icon_laptop, .ifont-elegant-icon_desktop, .ifont-elegant-icon_camera_alt, .ifont-elegant-icon_mail_alt, .ifont-elegant-icon_cone_alt, .ifont-elegant-icon_ribbon_alt, .ifont-elegant-icon_bag_alt, .ifont-elegant-icon_creditcard, .ifont-elegant-icon_cart_alt, .ifont-elegant-icon_paperclip, .ifont-elegant-icon_tag_alt, .ifont-elegant-icon_tags_alt, .ifont-elegant-icon_trash_alt, .ifont-elegant-icon_cursor_alt, .ifont-elegant-icon_mic_alt, .ifont-elegant-icon_compass_alt, .ifont-elegant-icon_pin_alt, .ifont-elegant-icon_pushpin_alt, .ifont-elegant-icon_map_alt, .ifont-elegant-icon_drawer_alt, .ifont-elegant-icon_toolbox_alt, .ifont-elegant-icon_book_alt, .ifont-elegant-icon_calendar, .ifont-elegant-icon_film, .ifont-elegant-icon_table, .ifont-elegant-icon_contacts_alt, .ifont-elegant-icon_headphones, .ifont-elegant-icon_lifesaver, .ifont-elegant-icon_piechart, .ifont-elegant-icon_refresh, .ifont-elegant-icon_link_alt, .ifont-elegant-icon_link, .ifont-elegant-icon_loading, .ifont-elegant-icon_blocked, .ifont-elegant-icon_archive_alt, .ifont-elegant-icon_heart_alt, .ifont-elegant-icon_star_alt, .ifont-elegant-icon_star-half_alt, .ifont-elegant-icon_star, .ifont-elegant-icon_star-half, .ifont-elegant-icon_tools, .ifont-elegant-icon_tool, .ifont-elegant-icon_cog, .ifont-elegant-icon_cogs, .ifont-elegant-arrow_up_alt, .ifont-elegant-arrow_down_alt, .ifont-elegant-arrow_left_alt, .ifont-elegant-arrow_right_alt, .ifont-elegant-arrow_left-up_alt, .ifont-elegant-arrow_right-up_alt, .ifont-elegant-arrow_right-down_alt, .ifont-elegant-arrow_left-down_alt, .ifont-elegant-arrow_condense_alt, .ifont-elegant-arrow_expand_alt3, .ifont-elegant-arrow_carrot_up_alt, .ifont-elegant-arrow_carrot-down_alt, .ifont-elegant-arrow_carrot-left_alt, .ifont-elegant-arrow_carrot-right_alt, .ifont-elegant-arrow_carrot-2up_alt, .ifont-elegant-arrow_carrot-2dwnn_alt, .ifont-elegant-arrow_carrot-2left_alt, .ifont-elegant-arrow_carrot-2right_alt, .ifont-elegant-arrow_triangle-up_alt, .ifont-elegant-arrow_triangle-down_alt, .ifont-elegant-arrow_triangle-left_alt, .ifont-elegant-arrow_triangle-right_alt, .ifont-elegant-icon_minus_alt, .ifont-elegant-icon_plus_alt, .ifont-elegant-icon_close_alt, .ifont-elegant-icon_check_alt, .ifont-elegant-icon_zoom-out, .ifont-elegant-icon_zoom-in, .ifont-elegant-icon_stop_alt, .ifont-elegant-icon_menu-square_alt, .ifont-elegant-icon_menu-circle_alt, .ifont-elegant-icon_document, .ifont-elegant-icon_documents, .ifont-elegant-icon_pencil_alt, .ifont-elegant-icon_folder, .ifont-elegant-icon_folder-open, .ifont-elegant-icon_folder-add, .ifont-elegant-icon_folder_upload, .ifont-elegant-icon_folder_download, .ifont-elegant-icon_info, .ifont-elegant-icon_error-circle, .ifont-elegant-icon_error-oct, .ifont-elegant-icon_error-triangle, .ifont-elegant-icon_question_alt, .ifont-elegant-icon_comment, .ifont-elegant-icon_chat, .ifont-elegant-icon_vol-mute, .ifont-elegant-icon_volume-low, .ifont-elegant-icon_volume-high, .ifont-elegant-icon_quotations_alt, .ifont-elegant-icon_clock, .ifont-elegant-icon_lock, .ifont-elegant-icon_lock-open, .ifont-elegant-icon_key, .ifont-elegant-icon_cloud, .ifont-elegant-icon_cloud-upload, .ifont-elegant-icon_cloud-download, .ifont-elegant-icon_lightbulb, .ifont-elegant-icon_gift, .ifont-elegant-icon_house, .ifont-elegant-icon_camera, .ifont-elegant-icon_mail, .ifont-elegant-icon_cone, .ifont-elegant-icon_ribbon, .ifont-elegant-icon_bag, .ifont-elegant-icon_cart, .ifont-elegant-icon_tag, .ifont-elegant-icon_tags, .ifont-elegant-icon_trash, .ifont-elegant-icon_cursor, .ifont-elegant-icon_mic, .ifont-elegant-icon_compass, .ifont-elegant-icon_pin, .ifont-elegant-icon_pushpin, .ifont-elegant-icon_map, .ifont-elegant-icon_drawer, .ifont-elegant-icon_toolbox, .ifont-elegant-icon_book, .ifont-elegant-icon_contacts, .ifont-elegant-icon_archive, .ifont-elegant-icon_heart, .ifont-elegant-icon_profile, .ifont-elegant-icon_group, .ifont-elegant-icon_grid-2x2, .ifont-elegant-icon_grid-3x3, .ifont-elegant-icon_music, .ifont-elegant-icon_pause_alt, .ifont-elegant-icon_phone, .ifont-elegant-icon_upload, .ifont-elegant-icon_download, .ifont-elegant-social_facebook, .ifont-elegant-social_twitter, .ifont-elegant-social_pinterest, .ifont-elegant-social_googleplus, .ifont-elegant-social_tumblr, .ifont-elegant-social_tumbleupon, .ifont-elegant-social_wordpress, .ifont-elegant-social_instagram, .ifont-elegant-social_dribbble, .ifont-elegant-social_vimeo, .ifont-elegant-social_linkedin, .ifont-elegant-social_rss, .ifont-elegant-social_deviantart, .ifont-elegant-social_share, .ifont-elegant-social_myspace, .ifont-elegant-social_skype, .ifont-elegant-social_youtube, .ifont-elegant-social_picassa, .ifont-elegant-social_googledrive, .ifont-elegant-social_flickr, .ifont-elegant-social_blogger, .ifont-elegant-social_spotify, .ifont-elegant-social_delicious, .ifont-elegant-social_facebook_circle, .ifont-elegant-social_twitter_circle, .ifont-elegant-social_pinterest_circle, .ifont-elegant-social_googleplus_circle, .ifont-elegant-social_tumblr_circle, .ifont-elegant-social_stumbleupon_circle, .ifont-elegant-social_wordpress_circle, .ifont-elegant-social_instagram_circle, .ifont-elegant-social_dribbble_circle, .ifont-elegant-social_vimeo_circle, .ifont-elegant-social_linkedin_circle, .ifont-elegant-social_rss_circle, .ifont-elegant-social_deviantart_circle, .ifont-elegant-social_share_circle, .ifont-elegant-social_myspace_circle, .ifont-elegant-social_skype_circle, .ifont-elegant-social_youtube_circle, .ifont-elegant-social_picassa_circle, .ifont-elegant-social_googledrive_alt2, .ifont-elegant-social_flickr_circle, .ifont-elegant-social_blogger_circle, .ifont-elegant-social_spotify_circle, .ifont-elegant-social_delicious_circle, .ifont-elegant-social_facebook_square, .ifont-elegant-social_twitter_square, .ifont-elegant-social_pinterest_square, .ifont-elegant-social_googleplus_square, .ifont-elegant-social_tumblr_square, .ifont-elegant-social_stumbleupon_square, .ifont-elegant-social_wordpress_square, .ifont-elegant-social_instagram_square, .ifont-elegant-social_dribbble_square, .ifont-elegant-social_vimeo_square, .ifont-elegant-social_linkedin_square, .ifont-elegant-social_rss_square, .ifont-elegant-social_deviantart_square, .ifont-elegant-social_share_square, .ifont-elegant-social_myspace_square, .ifont-elegant-social_skype_square, .ifont-elegant-social_youtube_square, .ifont-elegant-social_picassa_square, .ifont-elegant-social_googledrive_square, .ifont-elegant-social_flickr_square, .ifont-elegant-social_blogger_square, .ifont-elegant-social_spotify_square, .ifont-elegant-social_delicious_square, .ifont-elegant-icon_printer, .ifont-elegant-icon_calulator, .ifont-elegant-icon_building, .ifont-elegant-icon_floppy, .ifont-elegant-icon_drive, .ifont-elegant-icon_search-2, .ifont-elegant-icon_id, .ifont-elegant-icon_id-2, .ifont-elegant-icon_puzzle, .ifont-elegant-icon_like, .ifont-elegant-icon_dislike, .ifont-elegant-icon_mug, .ifont-elegant-icon_currency, .ifont-elegant-icon_wallet, .ifont-elegant-icon_pens, .ifont-elegant-icon_easel, .ifont-elegant-icon_flowchart, .ifont-elegant-icon_datareport, .ifont-elegant-icon_briefcase, .ifont-elegant-icon_shield, .ifont-elegant-icon_percent, .ifont-elegant-icon_globe, .ifont-elegant-icon_globe-2, .ifont-elegant-icon_target, .ifont-elegant-icon_hourglass, .ifont-elegant-icon_balance, .ifont-elegant-icon_rook, .ifont-elegant-icon_printer-alt, .ifont-elegant-icon_calculator_alt, .ifont-elegant-icon_building_alt, .ifont-elegant-icon_floppy_alt, .ifont-elegant-icon_drive_alt, .ifont-elegant-icon_search_alt, .ifont-elegant-icon_id_alt, .ifont-elegant-icon_id-2_alt, .ifont-elegant-icon_puzzle_alt, .ifont-elegant-icon_like_alt, .ifont-elegant-icon_dislike_alt, .ifont-elegant-icon_mug_alt, .ifont-elegant-icon_currency_alt, .ifont-elegant-icon_wallet_alt, .ifont-elegant-icon_pens_alt, .ifont-elegant-icon_easel_alt, .ifont-elegant-icon_flowchart_alt, .ifont-elegant-icon_datareport_alt, .ifont-elegant-icon_briefcase_alt, .ifont-elegant-icon_shield_alt, .ifont-elegant-icon_percent_alt, .ifont-elegant-icon_globe_alt, .ifont-elegant-icon_clipboard {
  font-family: 'ElegantIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.ifont-elegant-arrow_up:before {
  content: "\21";
}
.ifont-elegant-arrow_down:before {
  content: "\22";
}
.ifont-elegant-arrow_left:before {
  content: "\23";
}
.ifont-elegant-arrow_right:before {
  content: "\24";
}
.ifont-elegant-arrow_left-up:before {
  content: "\25";
}
.ifont-elegant-arrow_right-up:before {
  content: "\26";
}
.ifont-elegant-arrow_right-down:before {
  content: "\27";
}
.ifont-elegant-arrow_left-down:before {
  content: "\28";
}
.ifont-elegant-arrow-up-down:before {
  content: "\29";
}
.ifont-elegant-arrow_up-down_alt:before {
  content: "\2a";
}
.ifont-elegant-arrow_left-right_alt:before {
  content: "\2b";
}
.ifont-elegant-arrow_left-right:before {
  content: "\2c";
}
.ifont-elegant-arrow_expand_alt2:before {
  content: "\2d";
}
.ifont-elegant-arrow_expand_alt:before {
  content: "\2e";
}
.ifont-elegant-arrow_condense:before {
  content: "\2f";
}
.ifont-elegant-arrow_expand:before {
  content: "\30";
}
.ifont-elegant-arrow_move:before {
  content: "\31";
}
.ifont-elegant-arrow_carrot-up:before {
  content: "\32";
}
.ifont-elegant-arrow_carrot-down:before {
  content: "\33";
}
.ifont-elegant-arrow_carrot-left:before {
  content: "\34";
}
.ifont-elegant-arrow_carrot-right:before {
  content: "\35";
}
.ifont-elegant-arrow_carrot-2up:before {
  content: "\36";
}
.ifont-elegant-arrow_carrot-2down:before {
  content: "\37";
}
.ifont-elegant-arrow_carrot-2left:before {
  content: "\38";
}
.ifont-elegant-arrow_carrot-2right:before {
  content: "\39";
}
.ifont-elegant-arrow_carrot-up_alt2:before {
  content: "\3a";
}
.ifont-elegant-arrow_carrot-down_alt2:before {
  content: "\3b";
}
.ifont-elegant-arrow_carrot-left_alt2:before {
  content: "\3c";
}
.ifont-elegant-arrow_carrot-right_alt2:before {
  content: "\3d";
}
.ifont-elegant-arrow_carrot-2up_alt2:before {
  content: "\3e";
}
.ifont-elegant-arrow_carrot-2down_alt2:before {
  content: "\3f";
}
.ifont-elegant-arrow_carrot-2left_alt2:before {
  content: "\40";
}
.ifont-elegant-arrow_carrot-2right_alt2:before {
  content: "\41";
}
.ifont-elegant-arrow_triangle-up:before {
  content: "\42";
}
.ifont-elegant-arrow_triangle-down:before {
  content: "\43";
}
.ifont-elegant-arrow_triangle-left:before {
  content: "\44";
}
.ifont-elegant-arrow_triangle-right:before {
  content: "\45";
}
.ifont-elegant-arrow_triangle-up_alt2:before {
  content: "\46";
}
.ifont-elegant-arrow_triangle-down_alt2:before {
  content: "\47";
}
.ifont-elegant-arrow_triangle-left_alt2:before {
  content: "\48";
}
.ifont-elegant-arrow_triangle-right_alt2:before {
  content: "\49";
}
.ifont-elegant-arrow_back:before {
  content: "\4a";
}
.ifont-elegant-icon_minus-06:before {
  content: "\4b";
}
.ifont-elegant-icon_plus:before {
  content: "\4c";
}
.ifont-elegant-icon_close:before {
  content: "\4d";
}
.ifont-elegant-icon_check:before {
  content: "\4e";
}
.ifont-elegant-icon_minus_alt2:before {
  content: "\4f";
}
.ifont-elegant-icon_plus_alt2:before {
  content: "\50";
}
.ifont-elegant-icon_close_alt2:before {
  content: "\51";
}
.ifont-elegant-icon_check_alt2:before {
  content: "\52";
}
.ifont-elegant-icon_zoom-out_alt:before {
  content: "\53";
}
.ifont-elegant-icon_zoom-in_alt:before {
  content: "\54";
}
.ifont-elegant-icon_search:before {
  content: "\55";
}
.ifont-elegant-icon_box-empty:before {
  content: "\56";
}
.ifont-elegant-icon_box-selected:before {
  content: "\57";
}
.ifont-elegant-icon_minus-box:before {
  content: "\58";
}
.ifont-elegant-icon_plus-box:before {
  content: "\59";
}
.ifont-elegant-icon_box-checked:before {
  content: "\5a";
}
.ifont-elegant-icon_circle-empty:before {
  content: "\5b";
}
.ifont-elegant-icon_circle-slelected:before {
  content: "\5c";
}
.ifont-elegant-icon_stop_alt2:before {
  content: "\5d";
}
.ifont-elegant-icon_stop:before {
  content: "\5e";
}
.ifont-elegant-icon_pause_alt2:before {
  content: "\5f";
}
.ifont-elegant-icon_pause:before {
  content: "\60";
}
.ifont-elegant-icon_menu:before {
  content: "\61";
}
.ifont-elegant-icon_menu-square_alt2:before {
  content: "\62";
}
.ifont-elegant-icon_menu-circle_alt2:before {
  content: "\63";
}
.ifont-elegant-icon_ul:before {
  content: "\64";
}
.ifont-elegant-icon_ol:before {
  content: "\65";
}
.ifont-elegant-icon_adjust-horiz:before {
  content: "\66";
}
.ifont-elegant-icon_adjust-vert:before {
  content: "\67";
}
.ifont-elegant-icon_document_alt:before {
  content: "\68";
}
.ifont-elegant-icon_documents_alt:before {
  content: "\69";
}
.ifont-elegant-icon_pencil:before {
  content: "\6a";
}
.ifont-elegant-icon_pencil-edit_alt:before {
  content: "\6b";
}
.ifont-elegant-icon_pencil-edit:before {
  content: "\6c";
}
.ifont-elegant-icon_folder-alt:before {
  content: "\6d";
}
.ifont-elegant-icon_folder-open_alt:before {
  content: "\6e";
}
.ifont-elegant-icon_folder-add_alt:before {
  content: "\6f";
}
.ifont-elegant-icon_info_alt:before {
  content: "\70";
}
.ifont-elegant-icon_error-oct_alt:before {
  content: "\71";
}
.ifont-elegant-icon_error-circle_alt:before {
  content: "\72";
}
.ifont-elegant-icon_error-triangle_alt:before {
  content: "\73";
}
.ifont-elegant-icon_question_alt2:before {
  content: "\74";
}
.ifont-elegant-icon_question:before {
  content: "\75";
}
.ifont-elegant-icon_comment_alt:before {
  content: "\76";
}
.ifont-elegant-icon_chat_alt:before {
  content: "\77";
}
.ifont-elegant-icon_vol-mute_alt:before {
  content: "\78";
}
.ifont-elegant-icon_volume-low_alt:before {
  content: "\79";
}
.ifont-elegant-icon_volume-high_alt:before {
  content: "\7a";
}
.ifont-elegant-icon_quotations:before {
  content: "\7b";
}
.ifont-elegant-icon_quotations_alt2:before {
  content: "\7c";
}
.ifont-elegant-icon_clock_alt:before {
  content: "\7d";
}
.ifont-elegant-icon_lock_alt:before {
  content: "\7e";
}
.ifont-elegant-icon_lock-open_alt:before {
  content: "\e000";
}
.ifont-elegant-icon_key_alt:before {
  content: "\e001";
}
.ifont-elegant-icon_cloud_alt:before {
  content: "\e002";
}
.ifont-elegant-icon_cloud-upload_alt:before {
  content: "\e003";
}
.ifont-elegant-icon_cloud-download_alt:before {
  content: "\e004";
}
.ifont-elegant-icon_image:before {
  content: "\e005";
}
.ifont-elegant-icon_images:before {
  content: "\e006";
}
.ifont-elegant-icon_lightbulb_alt:before {
  content: "\e007";
}
.ifont-elegant-icon_gift_alt:before {
  content: "\e008";
}
.ifont-elegant-icon_house_alt:before {
  content: "\e009";
}
.ifont-elegant-icon_genius:before {
  content: "\e00a";
}
.ifont-elegant-icon_mobile:before {
  content: "\e00b";
}
.ifont-elegant-icon_tablet:before {
  content: "\e00c";
}
.ifont-elegant-icon_laptop:before {
  content: "\e00d";
}
.ifont-elegant-icon_desktop:before {
  content: "\e00e";
}
.ifont-elegant-icon_camera_alt:before {
  content: "\e00f";
}
.ifont-elegant-icon_mail_alt:before {
  content: "\e010";
}
.ifont-elegant-icon_cone_alt:before {
  content: "\e011";
}
.ifont-elegant-icon_ribbon_alt:before {
  content: "\e012";
}
.ifont-elegant-icon_bag_alt:before {
  content: "\e013";
}
.ifont-elegant-icon_creditcard:before {
  content: "\e014";
}
.ifont-elegant-icon_cart_alt:before {
  content: "\e015";
}
.ifont-elegant-icon_paperclip:before {
  content: "\e016";
}
.ifont-elegant-icon_tag_alt:before {
  content: "\e017";
}
.ifont-elegant-icon_tags_alt:before {
  content: "\e018";
}
.ifont-elegant-icon_trash_alt:before {
  content: "\e019";
}
.ifont-elegant-icon_cursor_alt:before {
  content: "\e01a";
}
.ifont-elegant-icon_mic_alt:before {
  content: "\e01b";
}
.ifont-elegant-icon_compass_alt:before {
  content: "\e01c";
}
.ifont-elegant-icon_pin_alt:before {
  content: "\e01d";
}
.ifont-elegant-icon_pushpin_alt:before {
  content: "\e01e";
}
.ifont-elegant-icon_map_alt:before {
  content: "\e01f";
}
.ifont-elegant-icon_drawer_alt:before {
  content: "\e020";
}
.ifont-elegant-icon_toolbox_alt:before {
  content: "\e021";
}
.ifont-elegant-icon_book_alt:before {
  content: "\e022";
}
.ifont-elegant-icon_calendar:before {
  content: "\e023";
}
.ifont-elegant-icon_film:before {
  content: "\e024";
}
.ifont-elegant-icon_table:before {
  content: "\e025";
}
.ifont-elegant-icon_contacts_alt:before {
  content: "\e026";
}
.ifont-elegant-icon_headphones:before {
  content: "\e027";
}
.ifont-elegant-icon_lifesaver:before {
  content: "\e028";
}
.ifont-elegant-icon_piechart:before {
  content: "\e029";
}
.ifont-elegant-icon_refresh:before {
  content: "\e02a";
}
.ifont-elegant-icon_link_alt:before {
  content: "\e02b";
}
.ifont-elegant-icon_link:before {
  content: "\e02c";
}
.ifont-elegant-icon_loading:before {
  content: "\e02d";
}
.ifont-elegant-icon_blocked:before {
  content: "\e02e";
}
.ifont-elegant-icon_archive_alt:before {
  content: "\e02f";
}
.ifont-elegant-icon_heart_alt:before {
  content: "\e030";
}
.ifont-elegant-icon_star_alt:before {
  content: "\e031";
}
.ifont-elegant-icon_star-half_alt:before {
  content: "\e032";
}
.ifont-elegant-icon_star:before {
  content: "\e033";
}
.ifont-elegant-icon_star-half:before {
  content: "\e034";
}
.ifont-elegant-icon_tools:before {
  content: "\e035";
}
.ifont-elegant-icon_tool:before {
  content: "\e036";
}
.ifont-elegant-icon_cog:before {
  content: "\e037";
}
.ifont-elegant-icon_cogs:before {
  content: "\e038";
}
.ifont-elegant-arrow_up_alt:before {
  content: "\e039";
}
.ifont-elegant-arrow_down_alt:before {
  content: "\e03a";
}
.ifont-elegant-arrow_left_alt:before {
  content: "\e03b";
}
.ifont-elegant-arrow_right_alt:before {
  content: "\e03c";
}
.ifont-elegant-arrow_left-up_alt:before {
  content: "\e03d";
}
.ifont-elegant-arrow_right-up_alt:before {
  content: "\e03e";
}
.ifont-elegant-arrow_right-down_alt:before {
  content: "\e03f";
}
.ifont-elegant-arrow_left-down_alt:before {
  content: "\e040";
}
.ifont-elegant-arrow_condense_alt:before {
  content: "\e041";
}
.ifont-elegant-arrow_expand_alt3:before {
  content: "\e042";
}
.ifont-elegant-arrow_carrot_up_alt:before {
  content: "\e043";
}
.ifont-elegant-arrow_carrot-down_alt:before {
  content: "\e044";
}
.ifont-elegant-arrow_carrot-left_alt:before {
  content: "\e045";
}
.ifont-elegant-arrow_carrot-right_alt:before {
  content: "\e046";
}
.ifont-elegant-arrow_carrot-2up_alt:before {
  content: "\e047";
}
.ifont-elegant-arrow_carrot-2dwnn_alt:before {
  content: "\e048";
}
.ifont-elegant-arrow_carrot-2left_alt:before {
  content: "\e049";
}
.ifont-elegant-arrow_carrot-2right_alt:before {
  content: "\e04a";
}
.ifont-elegant-arrow_triangle-up_alt:before {
  content: "\e04b";
}
.ifont-elegant-arrow_triangle-down_alt:before {
  content: "\e04c";
}
.ifont-elegant-arrow_triangle-left_alt:before {
  content: "\e04d";
}
.ifont-elegant-arrow_triangle-right_alt:before {
  content: "\e04e";
}
.ifont-elegant-icon_minus_alt:before {
  content: "\e04f";
}
.ifont-elegant-icon_plus_alt:before {
  content: "\e050";
}
.ifont-elegant-icon_close_alt:before {
  content: "\e051";
}
.ifont-elegant-icon_check_alt:before {
  content: "\e052";
}
.ifont-elegant-icon_zoom-out:before {
  content: "\e053";
}
.ifont-elegant-icon_zoom-in:before {
  content: "\e054";
}
.ifont-elegant-icon_stop_alt:before {
  content: "\e055";
}
.ifont-elegant-icon_menu-square_alt:before {
  content: "\e056";
}
.ifont-elegant-icon_menu-circle_alt:before {
  content: "\e057";
}
.ifont-elegant-icon_document:before {
  content: "\e058";
}
.ifont-elegant-icon_documents:before {
  content: "\e059";
}
.ifont-elegant-icon_pencil_alt:before {
  content: "\e05a";
}
.ifont-elegant-icon_folder:before {
  content: "\e05b";
}
.ifont-elegant-icon_folder-open:before {
  content: "\e05c";
}
.ifont-elegant-icon_folder-add:before {
  content: "\e05d";
}
.ifont-elegant-icon_folder_upload:before {
  content: "\e05e";
}
.ifont-elegant-icon_folder_download:before {
  content: "\e05f";
}
.ifont-elegant-icon_info:before {
  content: "\e060";
}
.ifont-elegant-icon_error-circle:before {
  content: "\e061";
}
.ifont-elegant-icon_error-oct:before {
  content: "\e062";
}
.ifont-elegant-icon_error-triangle:before {
  content: "\e063";
}
.ifont-elegant-icon_question_alt:before {
  content: "\e064";
}
.ifont-elegant-icon_comment:before {
  content: "\e065";
}
.ifont-elegant-icon_chat:before {
  content: "\e066";
}
.ifont-elegant-icon_vol-mute:before {
  content: "\e067";
}
.ifont-elegant-icon_volume-low:before {
  content: "\e068";
}
.ifont-elegant-icon_volume-high:before {
  content: "\e069";
}
.ifont-elegant-icon_quotations_alt:before {
  content: "\e06a";
}
.ifont-elegant-icon_clock:before {
  content: "\e06b";
}
.ifont-elegant-icon_lock:before {
  content: "\e06c";
}
.ifont-elegant-icon_lock-open:before {
  content: "\e06d";
}
.ifont-elegant-icon_key:before {
  content: "\e06e";
}
.ifont-elegant-icon_cloud:before {
  content: "\e06f";
}
.ifont-elegant-icon_cloud-upload:before {
  content: "\e070";
}
.ifont-elegant-icon_cloud-download:before {
  content: "\e071";
}
.ifont-elegant-icon_lightbulb:before {
  content: "\e072";
}
.ifont-elegant-icon_gift:before {
  content: "\e073";
}
.ifont-elegant-icon_house:before {
  content: "\e074";
}
.ifont-elegant-icon_camera:before {
  content: "\e075";
}
.ifont-elegant-icon_mail:before {
  content: "\e076";
}
.ifont-elegant-icon_cone:before {
  content: "\e077";
}
.ifont-elegant-icon_ribbon:before {
  content: "\e078";
}
.ifont-elegant-icon_bag:before {
  content: "\e079";
}
.ifont-elegant-icon_cart:before {
  content: "\e07a";
}
.ifont-elegant-icon_tag:before {
  content: "\e07b";
}
.ifont-elegant-icon_tags:before {
  content: "\e07c";
}
.ifont-elegant-icon_trash:before {
  content: "\e07d";
}
.ifont-elegant-icon_cursor:before {
  content: "\e07e";
}
.ifont-elegant-icon_mic:before {
  content: "\e07f";
}
.ifont-elegant-icon_compass:before {
  content: "\e080";
}
.ifont-elegant-icon_pin:before {
  content: "\e081";
}
.ifont-elegant-icon_pushpin:before {
  content: "\e082";
}
.ifont-elegant-icon_map:before {
  content: "\e083";
}
.ifont-elegant-icon_drawer:before {
  content: "\e084";
}
.ifont-elegant-icon_toolbox:before {
  content: "\e085";
}
.ifont-elegant-icon_book:before {
  content: "\e086";
}
.ifont-elegant-icon_contacts:before {
  content: "\e087";
}
.ifont-elegant-icon_archive:before {
  content: "\e088";
}
.ifont-elegant-icon_heart:before {
  content: "\e089";
}
.ifont-elegant-icon_profile:before {
  content: "\e08a";
}
.ifont-elegant-icon_group:before {
  content: "\e08b";
}
.ifont-elegant-icon_grid-2x2:before {
  content: "\e08c";
}
.ifont-elegant-icon_grid-3x3:before {
  content: "\e08d";
}
.ifont-elegant-icon_music:before {
  content: "\e08e";
}
.ifont-elegant-icon_pause_alt:before {
  content: "\e08f";
}
.ifont-elegant-icon_phone:before {
  content: "\e090";
}
.ifont-elegant-icon_upload:before {
  content: "\e091";
}
.ifont-elegant-icon_download:before {
  content: "\e092";
}
.ifont-elegant-social_facebook:before {
  content: "\e093";
}
.ifont-elegant-social_twitter:before {
  content: "\e094";
}
.ifont-elegant-social_pinterest:before {
  content: "\e095";
}
.ifont-elegant-social_googleplus:before {
  content: "\e096";
}
.ifont-elegant-social_tumblr:before {
  content: "\e097";
}
.ifont-elegant-social_tumbleupon:before {
  content: "\e098";
}
.ifont-elegant-social_wordpress:before {
  content: "\e099";
}
.ifont-elegant-social_instagram:before {
  content: "\e09a";
}
.ifont-elegant-social_dribbble:before {
  content: "\e09b";
}
.ifont-elegant-social_vimeo:before {
  content: "\e09c";
}
.ifont-elegant-social_linkedin:before {
  content: "\e09d";
}
.ifont-elegant-social_rss:before {
  content: "\e09e";
}
.ifont-elegant-social_deviantart:before {
  content: "\e09f";
}
.ifont-elegant-social_share:before {
  content: "\e0a0";
}
.ifont-elegant-social_myspace:before {
  content: "\e0a1";
}
.ifont-elegant-social_skype:before {
  content: "\e0a2";
}
.ifont-elegant-social_youtube:before {
  content: "\e0a3";
}
.ifont-elegant-social_picassa:before {
  content: "\e0a4";
}
.ifont-elegant-social_googledrive:before {
  content: "\e0a5";
}
.ifont-elegant-social_flickr:before {
  content: "\e0a6";
}
.ifont-elegant-social_blogger:before {
  content: "\e0a7";
}
.ifont-elegant-social_spotify:before {
  content: "\e0a8";
}
.ifont-elegant-social_delicious:before {
  content: "\e0a9";
}
.ifont-elegant-social_facebook_circle:before {
  content: "\e0aa";
}
.ifont-elegant-social_twitter_circle:before {
  content: "\e0ab";
}
.ifont-elegant-social_pinterest_circle:before {
  content: "\e0ac";
}
.ifont-elegant-social_googleplus_circle:before {
  content: "\e0ad";
}
.ifont-elegant-social_tumblr_circle:before {
  content: "\e0ae";
}
.ifont-elegant-social_stumbleupon_circle:before {
  content: "\e0af";
}
.ifont-elegant-social_wordpress_circle:before {
  content: "\e0b0";
}
.ifont-elegant-social_instagram_circle:before {
  content: "\e0b1";
}
.ifont-elegant-social_dribbble_circle:before {
  content: "\e0b2";
}
.ifont-elegant-social_vimeo_circle:before {
  content: "\e0b3";
}
.ifont-elegant-social_linkedin_circle:before {
  content: "\e0b4";
}
.ifont-elegant-social_rss_circle:before {
  content: "\e0b5";
}
.ifont-elegant-social_deviantart_circle:before {
  content: "\e0b6";
}
.ifont-elegant-social_share_circle:before {
  content: "\e0b7";
}
.ifont-elegant-social_myspace_circle:before {
  content: "\e0b8";
}
.ifont-elegant-social_skype_circle:before {
  content: "\e0b9";
}
.ifont-elegant-social_youtube_circle:before {
  content: "\e0ba";
}
.ifont-elegant-social_picassa_circle:before {
  content: "\e0bb";
}
.ifont-elegant-social_googledrive_alt2:before {
  content: "\e0bc";
}
.ifont-elegant-social_flickr_circle:before {
  content: "\e0bd";
}
.ifont-elegant-social_blogger_circle:before {
  content: "\e0be";
}
.ifont-elegant-social_spotify_circle:before {
  content: "\e0bf";
}
.ifont-elegant-social_delicious_circle:before {
  content: "\e0c0";
}
.ifont-elegant-social_facebook_square:before {
  content: "\e0c1";
}
.ifont-elegant-social_twitter_square:before {
  content: "\e0c2";
}
.ifont-elegant-social_pinterest_square:before {
  content: "\e0c3";
}
.ifont-elegant-social_googleplus_square:before {
  content: "\e0c4";
}
.ifont-elegant-social_tumblr_square:before {
  content: "\e0c5";
}
.ifont-elegant-social_stumbleupon_square:before {
  content: "\e0c6";
}
.ifont-elegant-social_wordpress_square:before {
  content: "\e0c7";
}
.ifont-elegant-social_instagram_square:before {
  content: "\e0c8";
}
.ifont-elegant-social_dribbble_square:before {
  content: "\e0c9";
}
.ifont-elegant-social_vimeo_square:before {
  content: "\e0ca";
}
.ifont-elegant-social_linkedin_square:before {
  content: "\e0cb";
}
.ifont-elegant-social_rss_square:before {
  content: "\e0cc";
}
.ifont-elegant-social_deviantart_square:before {
  content: "\e0cd";
}
.ifont-elegant-social_share_square:before {
  content: "\e0ce";
}
.ifont-elegant-social_myspace_square:before {
  content: "\e0cf";
}
.ifont-elegant-social_skype_square:before {
  content: "\e0d0";
}
.ifont-elegant-social_youtube_square:before {
  content: "\e0d1";
}
.ifont-elegant-social_picassa_square:before {
  content: "\e0d2";
}
.ifont-elegant-social_googledrive_square:before {
  content: "\e0d3";
}
.ifont-elegant-social_flickr_square:before {
  content: "\e0d4";
}
.ifont-elegant-social_blogger_square:before {
  content: "\e0d5";
}
.ifont-elegant-social_spotify_square:before {
  content: "\e0d6";
}
.ifont-elegant-social_delicious_square:before {
  content: "\e0d7";
}
.ifont-elegant-icon_printer:before {
  content: "\e103";
}
.ifont-elegant-icon_calulator:before {
  content: "\e0ee";
}
.ifont-elegant-icon_building:before {
  content: "\e0ef";
}
.ifont-elegant-icon_floppy:before {
  content: "\e0e8";
}
.ifont-elegant-icon_drive:before {
  content: "\e0ea";
}
.ifont-elegant-icon_search-2:before {
  content: "\e101";
}
.ifont-elegant-icon_id:before {
  content: "\e107";
}
.ifont-elegant-icon_id-2:before {
  content: "\e108";
}
.ifont-elegant-icon_puzzle:before {
  content: "\e102";
}
.ifont-elegant-icon_like:before {
  content: "\e106";
}
.ifont-elegant-icon_dislike:before {
  content: "\e0eb";
}
.ifont-elegant-icon_mug:before {
  content: "\e105";
}
.ifont-elegant-icon_currency:before {
  content: "\e0ed";
}
.ifont-elegant-icon_wallet:before {
  content: "\e100";
}
.ifont-elegant-icon_pens:before {
  content: "\e104";
}
.ifont-elegant-icon_easel:before {
  content: "\e0e9";
}
.ifont-elegant-icon_flowchart:before {
  content: "\e109";
}
.ifont-elegant-icon_datareport:before {
  content: "\e0ec";
}
.ifont-elegant-icon_briefcase:before {
  content: "\e0fe";
}
.ifont-elegant-icon_shield:before {
  content: "\e0f6";
}
.ifont-elegant-icon_percent:before {
  content: "\e0fb";
}
.ifont-elegant-icon_globe:before {
  content: "\e0e2";
}
.ifont-elegant-icon_globe-2:before {
  content: "\e0e3";
}
.ifont-elegant-icon_target:before {
  content: "\e0f5";
}
.ifont-elegant-icon_hourglass:before {
  content: "\e0e1";
}
.ifont-elegant-icon_balance:before {
  content: "\e0ff";
}
.ifont-elegant-icon_rook:before {
  content: "\e0f8";
}
.ifont-elegant-icon_printer-alt:before {
  content: "\e0fa";
}
.ifont-elegant-icon_calculator_alt:before {
  content: "\e0e7";
}
.ifont-elegant-icon_building_alt:before {
  content: "\e0fd";
}
.ifont-elegant-icon_floppy_alt:before {
  content: "\e0e4";
}
.ifont-elegant-icon_drive_alt:before {
  content: "\e0e5";
}
.ifont-elegant-icon_search_alt:before {
  content: "\e0f7";
}
.ifont-elegant-icon_id_alt:before {
  content: "\e0e0";
}
.ifont-elegant-icon_id-2_alt:before {
  content: "\e0fc";
}
.ifont-elegant-icon_puzzle_alt:before {
  content: "\e0f9";
}
.ifont-elegant-icon_like_alt:before {
  content: "\e0dd";
}
.ifont-elegant-icon_dislike_alt:before {
  content: "\e0f1";
}
.ifont-elegant-icon_mug_alt:before {
  content: "\e0dc";
}
.ifont-elegant-icon_currency_alt:before {
  content: "\e0f3";
}
.ifont-elegant-icon_wallet_alt:before {
  content: "\e0d8";
}
.ifont-elegant-icon_pens_alt:before {
  content: "\e0db";
}
.ifont-elegant-icon_easel_alt:before {
  content: "\e0f0";
}
.ifont-elegant-icon_flowchart_alt:before {
  content: "\e0df";
}
.ifont-elegant-icon_datareport_alt:before {
  content: "\e0f2";
}
.ifont-elegant-icon_briefcase_alt:before {
  content: "\e0f4";
}
.ifont-elegant-icon_shield_alt:before {
  content: "\e0d9";
}
.ifont-elegant-icon_percent_alt:before {
  content: "\e0da";
}
.ifont-elegant-icon_globe_alt:before {
  content: "\e0de";
}
.ifont-elegant-icon_clipboard:before {
  content: "\e0e6";
}


  .ifont-elegant-glyph {
    float: left;
    text-align: center;
    padding: .ifont-elegant-75em;
    margin: .ifont-elegant-4em 1.ifont-elegant-5em .ifont-elegant-75em 0;
    width: 6em;
text-shadow: none;
  }
        .ifont-elegant-glyph_big {
        font-size: 128px;
        color: #59c5dc;
        float: left;
        margin-right: 20px;
        }

        .ifont-elegant-glyph div { padding-bottom: 10px;}

  .ifont-elegant-glyph input {
    font-family: consolas, monospace;
    font-size: 12px;
    width: 100%;
    text-align: center;
    border: 0;
    box-shadow: 0 0 0 1px #ccc;
    padding: .ifont-elegant-2em;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
  }
  .ifont-elegant-centered {
    margin-left: auto;
    margin-right: auto;
  }
  .ifont-elegant-glyph .ifont-elegant-fs1 {
    font-size: 2em;
  }

  
