.logo.logo_user-card {
  width: 120px;
  height: 120px;
  margin: 20px auto;
  .logo__name {
    font-size: 3em;
  }
}
.user-info {
  text-align: center;
  &__name {
    font: 2em deco;
  }
  &__id {
    font: 1em reg;
    color: $d0;
    letter-spacing: 1px;
  }
}