.logo.logo_user-card
  p.logo__name WC
  //- img.logo__img(src="../img/users/user1.jpg")
.user-info
  .user-info__name work chat
  .user-info__id @3497ysdvjkaJh
ul.card-menu
  li
    p сповіщення увімкнені
    button(type="button") вимкнути сповіщення
  li
    button(type="button" data-role="showLeaveGroup") покинути групу
  li
    button(type="button" data-role="showGroupList") подивитися учасників
  li
    p з адмін. правами:
    button(type="button" data-role="showGroupChat") редагувати групу
  li
    button(type="button" data-role="showDeleteGroup") видалити групу
  li
    button(type="button" data-role="showClearHistory") очистити історію

button(type="button").round-btn: i.ico &#x6a;