.logo.logo_user-card
  p.logo__name WC
  //- img.logo__img(src="../img/users/user1.jpg")
.user-info
  .user-info__name work chat
  .user-info__id @3497ysdvjkaJh
ul.card-menu
  li
    p сповіщення увімкнені
    button(type="button") вимкнути сповіщення
  li
    button(type="button") покинути групу
  li
    button(type="button") подивитися учасників
  li
    p з адмін. правами:
    button(type="button") додати до групи
  li
    button(type="button") видалити групу
  li
    button(type="button") очистити історію

button(type="button").round-btn: i &#x6a;