.chat-list {
  .message-status {
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
}
.chat-item {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  &__text-wrapper {
    color: $d0;
    border-bottom: 1px solid $cb;
    padding: 5px;
    flex-grow: 1;
    width: calc(100% - 100px);
  }
  &__name {
    font: 1.2em reg;
    text-shadow: 1px 1px 2px $c44;
  }
  &__message {
    font: 1em light;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $bl;
    padding-right: 20px;
  }
  &__date {
    position: absolute;
    top: 5px;
    right: 0;
    font: .8em light;
  }
  &__badge {
    position: absolute;
    z-index: 3;
    right: 0px;
    bottom: 3px;
    background-color: $sg;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 0px 6px;
    font: .8em reg;
    display: none;
    &_active {
      display: block;
    }
  }
}