.round-btn {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $bt;
  position: absolute;
  border: 1px solid $lb;
  bottom: 10px;
  right: 10px;
  color: $bl;
  box-shadow: 1px 1px 6px $c44;
  cursor: pointer;
   i {
    font: 1.5em ElegantIcons;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &_active {
    display: block;
  }
}