.logo.logo_user-card
  p.logo__name PR
  img.logo__img(src="../img/users/user1.jpg")
.user-info
  .user-info__name Philomena Resendez
  .user-info__id @philomenaRezzz
ul.card-menu
  li
    p сповіщення увімкнені
    button(type="button") вимкнути сповіщення
  li
    p контакт не заблокований
    button(type="button") заблокувати
  li
    p в контактах
    button(type="button") видалити з контактів
  li
    button(type="button") поділитися контактом
  li
    button(type="button" data-role="showClearHistory") очистити історію

button(type="button" data-group="false" data-id="3tVc").round-btn: i.ico &#x6a;