ul.menu-list
  li.menu-list__item(data-target-group="aside" data-target="contactlist") Контакти
  li.menu-list__item(data-target-group="aside" data-target="chatlist") Список чатів
  li.menu-list__item Новий груповий чат
  li.menu-list__item Чорний список
  li.menu-list__item(data-target-group="aside" data-target="settings") Налаштування
  li.menu-list__item Вийти з програми
