doctype html
html(lang='ua').wjs-MobileHeightFix
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='../css/main.css')
    link(rel='icon', href='../img/logo.png')
    script(defer src='../js/main.js')
    title Login
  body
    include ../templates/notSignedPage/notSignedPage.pug