.body-inner {
  height: 100%;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  &_notSignedPage {
    flex-direction: column;
  }
  &_active {
    filter: blur(2px);
  }
}

.left-side {
  height: 100%;
  width: 100%;
  &_with-subheader {
    height: calc(100% - 60px);
  }
  .lists-wrapper.wjs-scroll {
    height: calc(100% - 60px);
    padding: 10px;
  }
  .subheader {
    display: none;
  }
}

.list {
  display: none;
  &_active {
    display: block;
  }
}

.right-side {
  height: 100%;
  display: none;
  flex-direction: column;
  position: relative;
  &__info {
    text-align: center;
    margin: 50px;
    color: $d0;
    font-size: 1.2em;
  }
  @media (min-width: $bpm) {
    display: flex;
    width: calc(100% - 300px);
  }
}
.chat-wrapper {
  height: calc(100% - 100px);
}
.chat-list {
  padding-left: 10px;
}

.list[data-list="chat"]{
  padding-bottom: 40px;
  .round-btn {
    bottom: 50px;
  }
}

.list.list_active[data-list="chatP"] {
  height: 100%;
  display: flex;
  flex-direction: column !important;
}

@media (min-width: $bpm) {
  .left-side {
    width: 300px;
    height: 100%;
    border-right: 1px solid $sb;
    .subheader {
      display: none;
    }
  }
  .list[data-list="chat"],
  .list[data-list="groupcard"],
  .list[data-list="usercard"] {
    display: none;
  }
}

.left-side .chat-form {
  position: fixed;
}