@import "constants";
@import "reset";
@import "fonts";
@import "general";
@import "wMobileHeightFix";

@import "../../templates/logo/logo";
@import "../../templates/message-status/message-status";
@import "../../templates/header/header";
@import "../../templates/subheader/subheader";
@import "../../templates/round-button/round-button";
@import "../../templates/chat-form/chat-form";
@import "../../templates/menu/menu";
@import "../../templates/chatlist/chatlist";
@import "../../templates/contactlist/contactlist";
@import "../../templates/chat/chat";
@import "../../templates/usercard/usercard";
@import "../../templates/popups/popups";

@import "../libs-css/wScroll";

.main {
  height: calc(100% - 60px);
  overflow: hidden;
  position: relative;
}

#widthIndicator {
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: 0;
  display: none;
  @media (min-width: $bpm) {
    display: block;
  }
}

@import "layout";
@import "card-menu";
@import "login";
@import "chat-messages";

@import "themes";