form(name="chat-form").chat-form
  .chat-form__file-input-wrapper
    input(type='file' name='file')
    button(type="button").chat-form__btn_send-file надіслати
  button(type="button").chat-form__btn.chat-form__btn_file
    i &#xe016;
  textarea(name="chat-form-ta" maxlength="5000" placeholder="написати повідомлення…").chat-form__textarea
  button(type="submit").chat-form__btn.chat-form__btn_text
    i &#x77;